/*.iml
/springms-simple-provider-user/*.iml
/springms-simple-provider-user/target
/springms-simple-consumer-movie/*.iml
/springms-simple-consumer-movie/target
/springms-discovery-eureka/*.iml
/springms-discovery-eureka/target
/springms-provider-user/*.iml
/springms-provider-user/target
/springms-consumer-movie/*.iml
/springms-consumer-movie/target
/springms-consumer-movie-ribbon/*.iml
/springms-consumer-movie-ribbon/target
/springms-consumer-movie-ribbon-custom/*.iml
/springms-consumer-movie-ribbon-custom/target
/springms-consumer-movie-ribbon-properties/*.iml
/springms-consumer-movie-ribbon-properties/target
/springms-simple-quartz/*.iml
/springms-simple-quartz/target
/springms-simple-quartz-cluster/*.iml
/springms-simple-quartz-cluster/target
/springms-consumer-movie-ribbon-properties-without-eureka/*.iml
/springms-consumer-movie-ribbon-properties-without-eureka/target
/springms-consumer-movie-feign/*.iml
/springms-consumer-movie-feign/target
/springms-consumer-movie-feign-custom/*.iml
/springms-consumer-movie-feign-custom/target
/springms-consumer-movie-ribbon-with-hystrix/*.iml
/springms-consumer-movie-ribbon-with-hystrix/target
/springms-consumer-movie-ribbon-with-hystrix-propagation/*.iml
/springms-consumer-movie-ribbon-with-hystrix-propagation/target
/springms-consumer-movie-feign-custom-without-hystrix/*.iml
/springms-consumer-movie-feign-custom-without-hystrix/target
/springms-consumer-movie-feign-with-hystrix-factory/*.iml
/springms-consumer-movie-feign-with-hystrix-factory/target
/springms-gateway-zuul/*.iml
/springms-gateway-zuul/target
/springms-gateway-zuul-attribute/*.iml
/springms-gateway-zuul-attribute/target
/springms-provider-user-version/*.iml
/springms-provider-user-version/target
/springms-gateway-zuul-cluster/*.iml
/springms-gateway-zuul-cluster/target
/springms-gateway-zuul-filter/*.iml
/springms-gateway-zuul-filter/target
/springms-gateway-zuul-reg-exp/*.iml
/springms-gateway-zuul-reg-exp/target
/springms-file-upload/*.iml
/springms-file-upload/target
/springms-gateway-zuul-file-upload/*.iml
/springms-gateway-zuul-file-upload/target
/springms-gateway-zuul-fallback/*.iml
/springms-gateway-zuul-fallback/target
/springms-sidecar/*.iml
/springms-sidecar/target
/springms-config-server/*.iml
/springms-config-server/target
/springms-config-client/*.iml
/springms-config-client/target
